/**
 * VT theme based on Black theme for reveal.js.
 * by Vaidas Pilkauskas & Tadas Scerbinskas
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #111;

$mainFont: 'Open Sans', sans-serif;
$linkColor: #e7ad52;
$linkColorHover: lighten( $linkColor, 20% );
$headingFont: 'Montserrat', Impact, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -0.03em;
$headingTextTransform: none;
$selectionBackgroundColor: #e7ad52;
$mainFontSize: 60px;


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal section img {
  border: none;
  background-color: transparent;
}

.box {
  float: left;
  width: 50%;
}
.code-blocks pre {
  float: left;
  width: 45%;
  margin: 0px 10px;
}

.reveal h1 {
  font-size: 2.5em;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  margin-bottom: 0.9em;
}

.reveal li {
  line-height: 1.3
}

.reveal pre code {
  font-size: 1em;
  line-height: 1.3;
  max-height: none;
  font-family: "Consolas", monospace;
}

span.who {
  font-size: 30px;
}

em {
  color: $linkColor;
}
