/**
 * VT theme based on Black theme for reveal.js.
 * by Vaidas Pilkauskas & Tadas Scerbinskas
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);
@font-face {
  font-family: 'Open Sans';
  src: url("../../lib/font/OpenSans-Regular.eot?v=1.1.0");
  src: url("../../lib/font/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("././../lib/font/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("../../lib/font/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../../lib/font/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../../lib/font/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../../lib/font/OpenSans-Bold.eot?v=1.1.0");
  src: url("../../lib/font/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../../lib/font/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("../../lib/font/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("../../lib/font/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("../../lib/font/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../lib/font/montserrat-bold-webfont.eot?v=1.1.0");
  src: url("../../lib/font/montserrat-bold-webfont.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../../lib/font/montserrat-bold-webfont.woff2?v=1.1.0") format("woff2"), url("../../lib/font/montserrat-bold-webfont.woff?v=1.1.0") format("woff"), url("../../lib/font/montserrat-bold-webfont.ttf?v=1.1.0") format("truetype"), url("../../lib/font/montserrat-bold-webfont.svg?v=1.1.0#Bold") format("svg");
  font-weight: bold;
  font-style: normal; }


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #111;

$mainFont: 'Open Sans', sans-serif;
$linkColor: #e7ad52;
$linkColorHover: lighten( $linkColor, 20% );
$headingFont: 'Montserrat', Impact, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -0.03em;
$headingTextTransform: none;
$selectionBackgroundColor: #e7ad52;
$mainFontSize: 60px;


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal section img {
  border: none;
  background-color: transparent;
}

.box {
  float: left;
  width: 50%;
}
.code-blocks pre {
  float: left;
  width: 45%;
  margin: 0px 10px;
}

.reveal h1 {
  font-size: 2.5em;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  margin-bottom: 0.9em;
}

.reveal li {
  line-height: 1.3
}

.reveal pre code {
  font-size: 1em;
  line-height: 1.3;
  max-height: none;
  font-family: "Consolas", monospace;
}

span.who {
  font-size: 30px
}

em, .orange {
  color: $linkColor
}
.reveal .credits li {
  font-size: 40%
}
